* {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

input,
textarea,
button {
  border: unset;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

.search {
  align-items: center;
  background: linear-gradient(180deg, #204b57 -2.01%, #718c94 100%);
  box-shadow: 0px 2px 7px rgba(6, 14, 16, 0.25);
  display: flex;
  flex-wrap: wrap;
  height: 28vh;
  padding: 25px;
  position: relative;
}

.search > span {
  bottom: 56px;
  color: #204b57;
  position: absolute;
  right: 36px;
}

.search__header,
.search__input {
  flex-basis: 100%;
}

.search__header {
  color: #ffffff;
  font-size: 33px;
  text-align: center;
}

.search__input {
  border-radius: 5px;
  height: 45px;
  padding: 2px 15px;
}

.recent {
  padding: 25px;
}

.recent__title {
  color: #0f2328;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.recent__words {
  margin: 25px -25px;
}

.recent__word {
  border-top: 1px solid #eaeeef;
  color: #0f2328;
  list-style-type: none;
  padding: 20px 25px;
}

.recent__word:last-child {
  border-bottom: 1px solid #eaeeef;
}

.recent__word > p {
  display: inline-block;
}

.recent__word > span {
  float: right;
  color: #fe6d64;
}
