* {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

input,
textarea,
button {
  border: unset;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  color: #0f2328;
}

.banner {
  align-items: center;
  background: linear-gradient(180deg, #204b57 -2.01%, #718c94 100%);
  box-shadow: 0px 2px 7px rgba(6, 14, 16, 0.25);
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  min-height: 28vh;
  padding: 25px;
  position: relative;
}

.search {
  left: 0;
  min-height: 140px;
  position: fixed;
  right: 0;
}

.search__icon {
  bottom: 47px;
  color: #204b57;
  position: absolute;
  right: 36px;
}

.search__icon-active {
  z-index: -100;
}

.search__btn {
  background-color: #718c94;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 37px;
  color: #ffffff;
  height: 50px;
  opacity: 0;
  padding: 11.2px;
  position: absolute;
  right: 24px;
  transition: opacity 400ms ease-in;
  width: 49px;
}

.search__btn-active {
  opacity: 1;
}

.search__header,
.search__input {
  flex-basis: 100%;
}

.search__header {
  color: #ffffff;
  font-size: 33px;
  text-align: center;
}

.search__input {
  border-radius: 5px;
  height: 45px;
  padding: 2px 45px 2px 15px;
}

.recent {
  padding: 210px 25px 0;
}

.recent__title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.recent__words {
  margin: 20px -25px;
}

.recent__word {
  position: relative;
  border-top: 1px solid #eaeeef;
  list-style-type: none;
  padding: 20px 25px;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.recent__word:last-child {
  border-bottom: 1px solid #eaeeef;
}

.deleted {
  opacity: 0;
  position: relative;
}

.recent__word > p {
  display: inline-block;
}

.recent__word > .btn.btn--icon {
  float: right;
  color: #fe6d64;
}

.search__nav {
  flex-basis: 100%;
}

.btn--icon {
  background: transparent;
  color: #ffffff;
  display: inline-block;
}

.search-word {
  float: right;
}

.word__definition {
  padding: 25px;
}

.word__search__details > h3 {
  display: inline-block;
  font-size: 33px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.word__search__details > p {
  font-size: 21px;
}

.list-index,
.part-of-speech,
.title > h4 {
  display: inline-block;
}

.part-of-speech {
  background: #0090c1;
  border-radius: 15px;
  color: #ffffff;
  padding: 2px 10px;
  margin-left: 10px;
}

.definition {
  margin: 10px 0 0;
}

.title {
  margin: 10px 0;
  position: relative;
}

.sub-section > .title > .btn.btn--icon {
  color: #0f2328;
  position: absolute;
  left: 80px;
  top: -2px;
}

.definition-list {
  font-style: italic;
  display: inline-block;
}

.definition-list:not(:last-child) {
  margin-right: 3px;
}

.definition-list:not(:last-child)::after {
  content: ", ";
}
